@import "colors.scss";

// Bootstrap
$font-family-sans-serif: "Orbitron", serif;
$font-family-monospace: "Orbitron", serif;
$font-size-base: 1.45rem;
$font-weight-normal: 500;
$body-color: $white;
$primary: $rose;
$link-hover-color: $white;

// Customs
$font-family-bubble: "Orbitron", cursive; ;
